.btn{
    background-image: linear-gradient(to right,rgb(20, 20, 107),rgb(53, 50, 50));
    padding: 5px 80px 5px 80px;
    font-size: 17px;
    border-radius: 10px;
    border: gainsboro solid 1px;
    color: aliceblue;
    margin-top: 30px;
    margin-left: 20px;
}